@model Models.Category.CategoryViewModel

<form asp-action="EditCategory" asp-controller="Forum" method="post">
    <div class="form-group row">
        <input asp-for="Id" hidden />
        <div class="col">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea asp-for="Description" rows="4" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-info">Edit</button>
            <a asp-controller="Forum" asp-action="ManageCategories" class="btn btn-outline-dark">Cancel</a>
        </div>
    </div>
</form>
