/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url('../images/backgrounds/box-planet-316688.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    padding: 0;
    margin: 0;
}

label {
    margin-bottom: 0.1rem;
}


/* Bootstrap overrides*/

.form-control {
    padding: 0.2rem;
}

.bg-outsider {
    background-image: url('../images/backgrounds/atmosphere-transit-space-darkness-circle-globe-962921-pxhere.com.jpg') !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


article a {
    text-decoration: none;
    color: black;
}

article:hover a {
    text-decoration: none;
    color: #0f0f0f;
}

article card .card-img {
    filter: saturate(80%);
    -webkit-filter: saturate(80%);
    -moz-filter: saturate(80%);
    -ms-filter: saturate(80%);
    -o-filter: saturate(80%);
    transition: all 300ms ease;
}

article:hover .card-img {
    filter: saturate(200%);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -ms-filter: saturate(200%);
    -o-filter: saturate(200%);
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fixed-top-override {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.validation-summary-errors ul {
    list-style: none;
}

.field-validation-error,
.validation-summary-errors {
    color: #dc3545;
    font-size: 0.8em;
    line-height: 0.8;
}

/** Forum Section */

.forum {
}

.forum-header {
    margin: 0;
    padding: 0;
    height: 400px;
    background-image: url('https://picsum.photos/1200/802') !important;
    background-size: cover;
    background-position: center center;
}

.forum-category {
    display: block;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
    padding-bottom: 1rem;
}

.forum-category-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.forum-category-heading {
    color: rgba(255,255,255,0.8);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.forum-cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.forum-card {
    -ms-flex-direction: row;
    flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0.6rem .3rem 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: black;
}

    .forum-card:hover {
        border-color: rgba(0, 0, 0, 1);
        background-color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }

.forum-card-icon {
    background-repeat: no-repeat;
    background-size: contain;
    -ms-flex: none;
    flex: none;
    height: 50px;
    width: 50px;
}

.forum-card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 1rem;
    overflow: hidden;
}

.forum-card-header {
}

.forum-card-heading {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 3.125rem;
    overflow: hidden;
    width: 100%;
}

.forum-card-content {
    color: rgba(255,255,255,.7);
    font-size: .9375rem;
    line-height: 1.25;
    margin: .25em 0 0;
    max-height: 3.515625rem;
    overflow: hidden;
    padding: 0;
}

/* Large devices (desktops, less than 1200px) lg */
@media screen and (min-width: 991.98px) {
    .forum-card {
        width: calc((100% / 3) - 0.601rem);
    }
}

/* Medium devices (tablets, less than 992px) md */
@media screen and (max-width: 991.98px) {
    .forum-card {
        width: calc((100% / 2) - 0.6rem);
    }
}

/* Small devices (landscape phones, less than 768px) sm */
@media screen and (max-width: 767.98px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .center-flex {
    }

    .fixed-top-override {
        position: relative;
    }

    .forum-card {
        width: 100%;
        margin: 0.1rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) xs*/
@media screen and (max-width: 575.98px) {
    .forum-card {
        width: 100%;
        margin: 0.1rem;
    }
}
