/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url('../images/backgrounds/box-planet-316688.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    padding: 0;
    margin: 0;
}

label {
    margin-bottom: 0.1rem;
}

.content {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

    .content p {
        text-indent: 50px;
        text-align: justify;
    }

/* Bootstrap overrides*/

.form-control {
    padding: 0.2rem;
}

.bg-outsider {
    background-image: url('../images/backgrounds/atmosphere-transit-space-darkness-circle-globe-962921-pxhere.com.jpg') !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fixed-top-override {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.validation-summary-errors ul {
    list-style: none;
}

    .validation-summary-errors ul li {
        margin-top: 10px;
    }

.field-validation-error,
.validation-summary-errors {
    color: #dc3545;
    font-size: 0.8em;
    line-height: 0.8;
}

/** Forum Section */

.forum-header {
    margin: 0;
    padding: 0;
    height: 400px;
    background-image: url('https://picsum.photos/1200/802') !important;
    background-size: cover;
    background-position: center center;
}

.forum-category {
    display: block;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
    padding-bottom: 1rem;
}

.forum-category-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.forum-category-heading {
    color: rgba(255,255,255,0.8);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.forum-cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.forum-card {
    -ms-flex-direction: row;
    flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0.6rem .3rem 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: black;
}

a.forum-card:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgba(0, 40, 40, 0.8);
    text-decoration: none;
}

.forum-card-icon {
    height: 50px;
    width: 50px;
    color: rgb(123, 87, 7);
    line-height: 0;
}

.forum-card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 1rem;
    overflow: hidden;
}

.forum-card-header {
    color: rgba(0, 150, 200,1);
}

.forum-card-heading {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 3.125rem;
    overflow: hidden;
    width: 100%;
}

.forum-card-content {
    color: rgba(255,255,255,.7);
    font-size: .9375rem;
    line-height: 1.25;
    margin: .25em 0 0;
    max-height: 3.515625rem;
    overflow: hidden;
    padding: 0;
}

.forum-topic a {
    background: rgba(0,0,0,.8);
    border-bottom: 1px solid lightblue;
    text-decoration: none;
}

    .forum-topic a:hover {
        text-decoration: none;
        background: rgba(0,80,80,.4);
    }


.topic {
    background: rgba(0, 60, 60, 0.95);
    border: 2px solid #888;
}

.reply {
    border: 2px solid #888;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background: rgba(0,80,80,0.95);
}

.topic, .reply {
    margin: 10px 0;
    padding: 10px;
    min-height: 250px;
    overflow: hidden;
}

.topic-date {
    font-size: 0.8em;
    border-bottom: 1px solid white;
    padding: 5px;
    color: #D2AA00;
}

.topic-title {
    color: #D2AA00;
    margin: 10px 0;
}

.add-reply-form {
    background: rgba(0,0,0,.8);
    color: white;
}

.form-reply {
    color: white;
    background: rgba(0,80,80,.8);
}

    .form-reply:focus {
        color: white;
        background: rgba(0,80,80,0.9);
    }


.login {
    margin: 10px 0;
    padding: 10px;
    background: rgba(0,80,80,0.9);
}


.color-administrator {
    color: red !important;
}

.color-creator {
    color: red !important;
}

.color-user {
}

.color-moderator {
    color: mediumpurple !important;
}


.color-developer {
    color: forestgreen !important;
}

.badge-administrator {
    color: red !important;
}

.badge-creator {
    color: red !important;
}

.badge-user {
    color: floralwhite !important;
}

.badge-moderator {
    color: mediumpurple !important;
}

.badge-developer {
    color: forestgreen !important;
}

/* Large devices (desktops, less than 1200px) lg */
@media screen and (min-width: 991.98px) {
    .forum-card {
        width: calc((100% / 3) - 0.601rem);
    }
}
/* Medium devices (tablets, less than 992px) md */
@media screen and (max-width: 991.98px) {
    .forum-card {
        width: calc((100% / 2) - 0.6rem);
    }
}
/* Small devices (landscape phones, less than 768px) sm */
@media screen and (max-width: 767.98px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .center-flex {
    }

    .fixed-top-override {
        position: relative;
    }

    .forum-card {
        width: 100%;
        margin: 0.1rem;
    }
}
/* Extra small devices (portrait phones, less than 576px) xs*/
@media screen and (max-width: 575.98px) {
    .forum-card {
        width: 100%;
        margin: 0.1rem;
    }
}
