@model IEnumerable<AdministrateUserViewModel>
@{
    ViewData["Title"] = "Manage users";
}

<h2>Manage users</h2>

<div class="row">
    <div class="col">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th class="d-none d-md-table-cell">Confirmed email</th>
                    <th class="d-none d-md-table-cell">Register date</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}
