<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin panel - Elements.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
              integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>
<body>
    <div class="row no-gutters h-100">
        <nav id="sidebar" class="bg-primary">
            <div class="sidebar-header">
                <h3>Administration</h3>
                <strong>
                    <i class="fab fa-wolf-pack-battalion"></i>
                </strong>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a asp-action="ManageUsers" asp-controller="Users" class="nav-link">
                        <i class="fas fa-user"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="ManageCategories" asp-controller="Forum" class="nav-link">
                        <i class="fas fa-wrench"></i>
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="nav-item">
                            <a href="#">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">News</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="col">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button type="button" id="sidebarCollapse" class="btn-lg btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
                <form class="form-inline mx-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                            Back to site
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/lib/popper/dist/umd/popper.min.js"
                asp-fallback-test="if(typeof(Popper) === 'undefined')"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.Alert && window.Button && window.Dropdown"
                integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @*<partial name="_CookieConsentPartial" />*@

    <script src="~/js/dashboard.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
