@model EditCategoryViewModel
@{
    ViewData["Title"] = "Edit category";
}

<div class="row">
    <div class="col-6 offset-3">
        <h2>@ViewData["Title"]</h2>
        @Html.EditorForModel()
    </div>
</div>


@section Scripts{
<script type="text/javascript">

    $('input[type="checkbox"]').bind('change', function changeStyle(v) {
        changeColor(this)
    });

    $(function () {
        var checkBoxes = $('input[type="checkbox"]');
        for (var i = 0; i < checkBoxes.length; i++) {
            changeColor(checkBoxes[i])
        }
    });

    function changeColor(el) {
        var checkBox = $(el);
        if (checkBox.is(':checked')) {
            debugger;
            checkBox.parent().addClass('text-success');
            checkBox.parent().removeClass('text-dark');
        } else {
            checkBox.parent().addClass('text-dark');
            checkBox.parent().removeClass('text-success');
        }
    }
</script>
}