@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Manage categories";
}

<h2>@ViewData["Title"]</h2>

<a asp-area="Admin" asp-controller="Forum" asp-action="AddCategory" class="btn btn-primary m-2"><i class="fa fa-plus"></i> New category</a>

<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="w-50">Description</th>
                    <th>Number of topics</th>
                    <th class="w-25">Actions</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
</div>