
<li class="nav-item dropdown">
    <div class="btn-group">
        <a asp-area="Admin" asp-page="/MainPanel" class="nav-link">Admin panel</a>
        <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a asp-area="Admin" asp-controller="Users" asp-action="ManageUsers" class="dropdown-item">Users</a>
            <a asp-area="Admin" asp-controller="Forum" asp-action="ManageCategories" class="dropdown-item">Categories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            <a asp-area="Admin" asp-controller="Forum" asp-action="ManageCategories" class="dropdown-item">Categories</a>
        </div>
    </div>
</li>