body{
    background-image: url('https://images7.alphacoders.com/316/316688.jpg') !important; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    
    padding: 0;
    margin: 0;
}

article a{
  text-decoration: none;
  color: black;
}
article:hover a{
  text-decoration: none;
  color: #0f0f0f;
}
article card .card-img{
    filter: saturate(80%);
    -webkit-filter: saturate(80%);
    -moz-filter:    saturate(80%);
    -ms-filter:     saturate(80%);
    -o-filter:      saturate(80%);
    transition: all 300ms ease;
  }
  article:hover .card-img{
    filter: saturate(200%);
    -webkit-filter: saturate(200%);
    -moz-filter:    saturate(200%);
    -ms-filter:     saturate(200%);
    -o-filter:      saturate(200%);
  }

  .forum .forumHeader{
    margin: 0;
    padding: 0;
    height: 400px;
    background-image: url('https://picsum.photos/1200/802') !important; 
    
    background-size: cover;
  }