@page
@model AddNewsModel
@{
    ViewData["Title"] = "Add news";
}

<div class="row mt-2">
    <div class="col-lg-8 offset-lg-2">
        <div asp-validation-summary="All"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col">
                    <label asp-for="Title" class="col-form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class=""></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label asp-for="TopicTypeId" class="col-form-label"></label>
                    <select asp-for="TopicTypeId" asp-items="@(new SelectList(Model.TopicTypes,"Id","Value"))" class="custom-select">
                        <option selected="selected" value="">Select type</option>
                    </select>
                    <span asp-validation-for="TopicTypeId" class=""></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label asp-for="ImageFile" class="col-form-label"></label>
                    <button id="selectImage" class="btn btn-info"></button>
                    <input asp-for="ImageFile" type="file" />
                    <span asp-validation-for="ImageFile" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label asp-for="TopicContent" class="col-form-label"></label>
                    <textarea asp-for="TopicContent" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="TopicContent" class=""></span>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

