@page
@model MainPanel
@{

}

<div class="row">
    <div class="col">
        <h4>Users activities</h4>
        <div>Total users: <strong>@Model.TotalUsers</strong></div>
    </div>
</div>

@if (Model.HasActiveTopics)
{
    <div class="row">
        <div class="col">
            <h4>Active topics</h4>
            @Html.DisplayFor(m => m.ActiveTopics)
        </div>
    </div>
}

@if (Model.HasInActiveTopics)
{
    <div class="row">
        <div class="col">
            <h4>Inactive topics</h4>
            @Html.DisplayFor(m => m.InActiveTopics)
        </div>
    </div>
}
