@model ForumCategoryViewModel

<a asp-area="" asp-controller="Forum" asp-action="Category" asp-route-id="@Model.Id" class="forum-card">
    <div class="forum-card-icon">
        <img src="@Model.IconURL" alt="Alternate Text" width="50" height="50" />
    </div>

    <div class="forum-card-body">
        <header class="forum-card-header">
            <h2 class="forum-card-heading">@(Model.Name)</h2>
        </header>
        <div class="forum-card-content">
            <p>
                @(Model.Description)
            </p>
        </div>
    </div>
</a>