@model ReplyViewModel
<div class="row reply">
    <div class="col-2">
        @Html.DisplayFor(m => m.AuthorViewModel)
    </div>
    <div class="col-10">
        <div class="topic-date">
            @Model.CreateDate.ToString("dd-MMM, yyyy hh:mm:ss")
        </div>
        <div>
            @Model.Content
        </div>
    </div>
</div>