<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="css/site.css" />
</head>

<body class="bg-transparent">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="#">
                <i class="fas fa-chart-pie"></i>
                Elements
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./forum.html">Forum
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Admin panel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Users</a>
                            <a class="dropdown-item" href="#">Characters</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Admin stuff</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text mx-2">
                    <a class="btn btn-link p-0" href="#">example@abv.bg</a>
                </span>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main container -->
    <div class="container-fluid p-0">
        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb bg-transparent m-0">
                <li class="breadcrumb-item">
                    <a href="./forum.html">Forum</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">All</li>
            </ol>
        </nav>
        <main>
            <section class="forum">
                <header class="forumHeader text-center text-info">
                    <img src="https://orig00.deviantart.net/3899/f/2012/362/a/f/afccf67338f51588f12664c87eaee7d4-d33wydh.png" alt="banner" />
                    <h2>Welcome here, ya fool!</h2>
                </header>
                <div class="text-light">
                    <header class="category m-4">
                        <h1 class="h3">Community</h4>
                    </header>
                    <div class="card-deck mx-0 mx-sm-auto">

                        <a class="card mb-0 mb-sm-4  rounded-0" href="#">
                            <div class="card-body rounded-0">
                                <div class="row  rounded-0">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-headset" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Get this tittle!</h4>
                                        <p class="">Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                            so themselves.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="card mb-0 mb-sm-4" href="#">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-joint" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Of an or game gate!</h4>
                                        <p class="">Behavior we improving at something to. Evil true high lady roof men had open.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none">
                            <!-- wrap every 2 on sm-->
                        </div>

                        <a class="card mb-0 mb-sm-4" href="#">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-smile-wink" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Reasonably so middle tons!</h4>
                                        <p class="">Forfeited up if disposing perfectly in an eagerness perceived necessary. Belonging
                                            sir curiosity discovery extremity yet forfeited prevailed own off. Travelling
                                            by introduced of terminated.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="w-100 d-none d-lg-block d-md-none">
                            <!-- wrap every 3 on md-->
                        </div>


                        <a class="card mb-0 mb-sm-4" href="#">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-user-ninja" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Her old collecting she considered discovered!</h4>
                                        <p class="">Unwilling sportsmen he in questions September therefore described so. Attacks may
                                            set few believe moments was. Reasonably how possession shy way introduced age
                                            inquietude. Missed he engage no Exeter of.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none">
                            <!-- wrap every 2 on sm-->
                        </div>


                        <a class="card mb-0 mb-sm-4" href="#">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-dizzy" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Appear an manner as no limits!</h4>
                                        <p class="">Advice me cousin an spring of needed. Tell use paid law ever yet new. Meant to learn
                                            of vexed if style allow he there.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="card mb-0 mb-sm-4" href="#">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="fas fa-hand-lizard" style="font-size: 2em"></i>
                                    </div>
                                    <div class="col-10">
                                        <h4 class="card-title">Early had add equal china quiet visit!</h4>
                                        <p class="">Tiled man stand tears ten joy there terms any widen. Procuring continued suspicion
                                            its ten. Pursuit brother are had fifteen distant has.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none">
                            <!-- wrap every 2 on sm-->
                        </div>
                        <div class="w-100 d-none d-lg-block d-md-none">
                            <!-- wrap every 3 on md-->
                        </div>
                    </div>
                </div>


                <div class="text-light">
                    <header class="category m-4">
                        <h1 class="h3">Community</h4>
                    </header>
                    <div class="row">
                            <div class="col-lg-4 col-sm-6 bg-white m-4">
                                <a class="mb-0 mb-sm-4" href="#">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <i class="fas fa-headset" style="font-size: 2em"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="">Get this tittle!</h4>
                                                <p class="">Made last it seen went no just when of by. Occasional entreaties comparison me
                                                    difficulty so themselves.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6 bg-white m-4">
                                <a class="mb-0 mb-sm-4" href="#">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <i class="fas fa-headset" style="font-size: 2em"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="">Get this tittle!</h4>
                                                <p class="">Made last it seen went no just when of by. Occasional entreaties comparison me
                                                    difficulty so themselves.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6 bg-white m-4">
                                <a class="mb-0 mb-sm-4" href="#">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <i class="fas fa-headset" style="font-size: 2em"></i>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="">Get this tittle!</h4>
                                                <p class="">Made last it seen went no just when of by. Occasional entreaties comparison me
                                                        difficulty so themselves.
                                                    </p>Made last it seen went no just when of by. Occasional entreaties comparison me
                                                    difficulty so themselves.
                                                </p>Made last it seen went no just when of by. Occasional entreaties comparison me
                                                difficulty so themselves.
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                    </div>
                </div>
            </section>
        </main>
        <footer class="text-light">
            <p>Posted by: Stefan</p>
            <p>Contact information:
                <a href="mailto:someone@example.com"> someone@example.com</a>.
            </p>
        </footer>
    </div>

</body>

</html>