<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="css/site.css" />
</head>

<body class="bg-transparent">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="#">
                <i class="fas fa-chart-pie"></i>
                Elements
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./forum.html">Forum
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Admin panel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Users</a>
                            <a class="dropdown-item" href="#">Characters</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Admin stuff</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text mx-2">
                    <a class="btn btn-link p-0" href="#">example@abv.bg</a>
                </span>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main container -->
    <div class="container">
        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb bg-transparent m-0">
                <li class="breadcrumb-item">
                    <a href="./index.html">News</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">All</li>
            </ol>
        </nav>
        <main>
            <div class="row">
                <article class="card mb-2 col-sm-12 p-0">
                    <a class="card-body" href="#">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="https://picsum.photos/800/600" class="card-img" />
                            </div>
                            <div class="col-sm-8">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Sociable on as carriage my position weddings raillery consider. Peculiar trifling absolute
                                    and wandered vicinity property yet. The and collecting motionless difficulty son. His
                                    hearing staying ten colonel met. Sex drew six easy four dear cold deny. Moderate children
                                    at of outweigh it. Insatiable it considered invitation he travelling insensible. Consulted
                                    admitting oh up as described acuteness propriety moonlight.
                                </p>
                                <footer class="card-text">
                                    <small class="text-muted">Last updated 3 min ago</small>
                                </footer>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="row">
                <article class="card mb-2 col-sm-12 p-0">
                    <a class="card-body " href="#">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="https://picsum.photos/1200/1500" class="card-img" />
                            </div>
                            <div class="col-sm-8">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">How promotion excellent curiosity yet attempted happiness. Gay prosperous impression had
                                    conviction. For every delay death ask style. Me mean able my by in they. Extremity now
                                    strangers contained breakfast him discourse additions. Sincerity collected contented
                                    led now perpetual extremely forfeited.
                                </p>
                                <footer class="card-text">
                                    <small class="text-muted">Last updated 3 min ago</small>
                                </footer>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

            <div class="row">
                <article class="card mb-2 col-sm-12 p-0">
                    <a class="card-body" href="#">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="https://picsum.photos/60/60" class="card-img" />
                            </div>
                            <div class="col-sm-8">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Extremity sweetness difficult behavior he of. On disposal of as landlord horrible. Afraid
                                    at highly months do things on at. Situation recommend objection do intention so questions.
                                    As greatly removed calling pleased improve an. Last ask him cold feel met spot shy want.
                                    Children me laughing we prospect answered followed. At it went is song that held help
                                    face.
                                </p>
                                <footer class="card-text">
                                    <small class="text-muted">Last updated 3 min ago</small>
                                </footer>
                            </div>
                        </div>
                    </a>
                </article>
            </div>

        </main>
        <footer class="text-light">
            <p>Posted by: Stefan</p>
            <p>Contact information:
                <a href="mailto:someone@example.com"> someone@example.com</a>.
            </p>
        </footer>
    </div>

</body>

</html>