@model IEnumerable<TopicOfCategoryViewModel>
@{
    ViewData["Title"] = "Topics of category";
}

<h2>@ViewData["Title"]</h2>

<div class="">
    <a asp-controller="Forum" asp-action="AddTopic" class="btn btn-info m-0">
        <i class="fa fa-plus"></i> New topic
    </a>
</div>

@Html.DisplayForModel()
