@{
    ViewData["Title"] = "Index";
}



<!-- Main container -->
<main>
    <section class="forum">
        <header class="forum-header text-center text-info">
            <img src="https://orig00.deviantart.net/3899/f/2012/362/a/f/afccf67338f51588f12664c87eaee7d4-d33wydh.png" alt="banner" />
            <h2>Welcome here, ya fool!</h2>
        </header>

        <a asp-controller="Forum" asp-action="AddTopic" class="btn btn-primary">Add new topic</a>


        <div class="forum-category">
            <header class="forum-category-header">
                <h1 class="forum-category-heading">News</h1>
            </header>
            <div class="forum-cards">
                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>


                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="forum-category">
            <header class="forum-category-header">
                <h1 class="forum-category-heading">Community</h1>
            </header>
            <div class="forum-cards">
                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="forum-category">
            <header class="forum-category-header">
                <h1 class="forum-category-heading">Went no just</h1>
            </header>
            <div class="forum-cards">
                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

                <a asp-controller="Forum" asp-action="ShowTopic" asp-route-topicId="1" class="forum-card">
                    <i class="fas fa-headset forum-card-icon" style="font-size: 2em"></i>
                    <div class="forum-card-body">
                        <header class="forum-card-header">
                            <h2 class="forum-card-heading">Get this tittle!</h2>
                        </header>
                        <div class="forum-card-content">
                            <p>
                                Made last it seen went no just when of by. Occasional entreaties comparison me difficulty
                                so themselves.
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>
</main>

<footer class="text-light">
    <p>Posted by: Stefan</p>
    <p>
        Contact information:
        <a href="mailto:someone@example.com"> someone@example.com</a>.
    </p>
</footer>
