@model IEnumerable<TopicOverviewViewModel>
@{
    ViewData["Title"] = "News";
}

<h2>@ViewData["Title"]</h2>

<!-- Main container -->
<div class="container">
    @*<nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb bg-transparent m-0">
                <li class="breadcrumb-item">
                    <a href="./index.html">News</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">All</li>
            </ol>
        </nav>*@
    <main>
        @Html.DisplayForModel()
    </main>
    <footer class="text-light">
        <p>Congrats!</p>
    </footer>
</div>


