@model IEnumerable<Elements.Web.Models.Forum.ViewModels.TopicOfCategoryViewModel>
@{
    ViewData["Title"] = "ShowTopic";
}

<h2>ShowTopic</h2>

<a asp-controller="Forum" asp-action="AddTopic" class="btn btn-primary m-2">Add new topic</a>

@Html.DisplayForModel()
