@page
@model Elements.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Pages: Index";
}

<div class="row">
    <div class="col-12">
        <h2 class="m-4">News feed</h2>
        <ul class="list-unstyled">
            <li class="mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Boisterous he on understood attachment as entreaties ye devonshire. In mile an form snug were been sell. Hastened admitted joy nor absolute gay its. Extremely ham any his departure for contained curiosity defective. Way now instrument had eat diminution melancholy expression sentiments stimulated. One built fat you out manor books. Mrs interested now his affronting inquietude contrasted cultivated. Lasting showing expense greater on colonel no.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Created 1 mins ago by <span class="text-danger">Steff</span></small>
                        </p>
                    </div>
                    <img class="card-img-bottom" src="~/images/news/dummy3.jpg" alt="Card dummy1 cap" />
                </div>
            </li>
            <li class="mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Now seven world think timed while her. Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects. The mrs gay removed towards journey chapter females offered not. Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as.
                        </p>
                        <p class="card-text right">
                            <small class="text-muted">Created 34 mins ago by <span class="text-danger">Steff</span></small>
                        </p>
                    </div>
                    <img class="card-img-bottom" src="~/images/news/dummy1.jpg" alt="Card dummy1 cap" />
                </div>
            </li>
        </ul>

        @*<ul class="list-unstyled">
            <li class="media">
                <div class="media-body mb-4">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <img class="mr-3" src="..." alt="Generic placeholder image">
                </div>
            </li>
            <li class="media">
                <div class="media-body mb-4">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media">
                <div class="media-body mb-4">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>*@
    </div>
</div>
