@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}

<h2 class="m-4">@ViewData["Title"]</h2>

<div class="container">
    <main>
        @Html.DisplayFor(m => m.Topics)
    </main>
</div>

@section CSS{
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
}
@section Scripts{ 
    <script src="~/js/news.js"></script>
}