@page "{searchTerm?}"
@model Elements.Web.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<div class="row my-3">
    <div class="col-auto">
        <partial name="_SearchFormPartial" />
    </div>
</div>

<div class="row my-3">
    <div class="col-auto">
        @if (Model.HasTopics)
        {
            @Html.DisplayFor(m => m.Topics)
        }
        else
        {
            <span>Nothing found for <em class="text-danger">'@(Model.SearchTerm)'</em></span>
        }
    </div>
</div>
