@page "{id}"
@model Elements.Web.Pages.UserModel
@{
    ViewData["Title"] = "User details";
}

<div class="row reply">
    <div class="col-2">
        @Html.DisplayFor(m => m.UserViewModel)
    </div>
    <div class="col-10">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>
                        Character name
                    </th>
                    <th>
                        Character class
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => m.CharactersViewModel)
            </tbody>
        </table>
    </div>
</div>